@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
:root{
    /*TO DO */
    --mainFont: 'Baloo Tammudu 2', cursive;
}

body{
    background-image: url("https://html.sammy-codes.com/images/background.jpg");
    font-family:var(--mainFont);
}
h2{
    text-align: center;
}
#mainPicture{
    height: auto;
    width: auto;
}
#parentDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ; 
    align-items: center;
    margin-left: 30%;
    margin-top: 5%;
}
.MainDiv{
    width: 70vw;
    height: 50vh;
    background-color: rgba(161, 105, 1, 0.404);
    border:2px solid rgba(117, 71, 3, 0.089);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:5%;
}
#letters .let{
    width: 2vw;
    height: 4vh;
    border: 1px solid rgba(129, 84, 16, 0.932);
    background-color: rosybrown;
    border-radius: 25px; 
    text-align :center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 5px;
}
#letters .correct{
    width: 2vw;
    height: 4vh;
    border: 1px solid rgba(16, 70, 9, 0.932);
    background-color: rgb(104, 226, 29);
    border-radius: 25px; 
    text-align :center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 5px;
}
#letters .wrong{
    width: 2vw;
    height: 4vh;
    border: 1px solid rgba(82, 9, 9, 0.932);
    background-color: rgb(228, 21, 31);
    border-radius: 25px; 
    text-align :center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 5px;
}
#letters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}
#word {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#word .unKnown{
    padding: 2%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightsteelblue;
}

.Known{

}